/* Site Styles */
html, body {
  padding:0;
  margin:0;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  overflow: auto;
  height: 100%;
  /*font-family: "Georgia", serif;*/
}
a {
  color: #428bca;
}
.container {
  margin: 0;
}
.sidebar {
  float: left;
  position: fixed;
  margin: 0;
}
.main-nav {

}
#main {
  margin:0 auto;
  margin-top: 60px;
  padding-bottom: 50px;
  width: 700px;
}
.main-header {
  font-weight: 200;
  font-size: 50px;
  line-height: 100%;
  margin: 0;
  width: 100%;
  padding: 10px;
}
.main-header a {
  color:black;
  text-decoration: none;
}
.main-header a:hover {
  text-shadow: 0px 0px 2px #aaa;
}
.main-nav a {
  display: block;
  padding: 10px;
  color: inherit;
  text-decoration: none;
}
.main-nav a:hover {
  background: #ccc;
}

article.post {
  border-bottom: 1pt solid #666;
}
.post-title {
  font-weight: 500;
}
.post-content {
  font-weight: 400;
}
.post-content img {
  float:right;
  margin: 5px 5px 5px 0;
}
.post-meta {
  padding: 5px 0;
}
.post-content a {
  color: #428bca;
}



