<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Metadata -->
  <meta name="description" content="">
  <meta property="og:title" content="{{page.title}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{site.url}}{{page.url}}" />
  <!-- Card -->
  <meta property="twitter:card" content="{{site.url}}{{page.url}}" />
  <meta property="twitter:site" content="@willpots" />
  <meta property="twitter:site:id" content="114476085" />
  <meta property="twitter:creator" content="@willpots" />
  <meta property="twitter:creator:id" content="114476085" />
  <meta name="google-site-verification" content="MDy85NLCvjpo4-aiCE5WKPYAt4FrJcD5fBuyva2JwSM" />
  
  <title>{{page.title}}</title>

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/syntax.css">

  <!-- Feed -->
  <link href="{{ BASE_PATH }}{{ site.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
  <link href="{{ BASE_PATH }}{{ site.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

</head>
<body>
  <div class="sidebar">
    <h1 class="main-header"><a href="/">Will Potter</a></h1>
    <nav class="main-nav">
      <a href="/">Blog</a>
      <a href="/projects/">Projects</a>
      <a href="http://www.twitter.com/willpots" target="_blank">Twitter</a>
      <a href="http://www.linkedin.com/in/wspotter" target="_blank">LinkedIn</a>
      <a href="http://www.github.com/willpots" target="_blank">Github</a>
    </nav>    
  </div>
  
  <div id="main">
    {{ content }}
  </div>

  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>